.fondoBLACK {
    background-color: rgba(0, 0, 0, 0.863);
}
.fondoGRAY {
    background-color: rgba(128, 128, 128, 0.562);
}
.fondoRED {
    background-color: red;
}
.fondoWHITE {
    background-color: white;
}
.fondoGREEN {
    background-color: green;
}
.fondoBLUE {
    background-color: rgba(0, 0, 255, 0.692);
}
.fondoVIOLET {
    background-color: blueviolet;
}
.fondoPINK {
    background-color: pink;
}
.fondoLIGHTBLUE {
    background-color: lightblue;
}
.fondoYELLOW {
    background-color: rgb(202, 202, 36);
}
.letraBLANCAS{
    color: white
}
.inputSearch{
    width: 60%;
}
.btn-agregar {
    color: #fff;
    background-color: #024b00;
    border-color: #024b00;
  }

  div#mensajeComprar {
    visibility: hidden;
    margin: 0 auto;
    width: 600px;
    padding: 20px;
    background-color: rgb(153, 215, 153);
    color: white;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 6px 6px 16px lightgray;
}

.mostrar-mensaje {
    visibility: visible !important;
}

.fotoEnCarrito{
    width: 80px;
    height: 80px;
}
.quitar-carrito {
    cursor: pointer;
}